body{
    height: 100%;

}

.myrows{
    border: 3px solid green;
    padding: 5px;
}
.mycols{
    background-image: linear-gradient( rgb(163, 14, 14), rgb(90, 74, 74));
}
.mycontainer{
    background-color: aqua;
}

/* These are my CSS styles - confirmed */

#topHeader{
    background-image: url('../../pub/images/header.jpg');
}

#mainContent{
    margin-top: 1rem;
   background-color: #E5DEE0;
    border-radius: 10px;

}
/* Rounded border */
hr.rounded {
    border-top: 4px solid #bbb;
    border-radius: 5px;
}

table a{
    font-weight: bolder;
    color: darkgreen;
}

#mybutton
{
    background-color: darkgreen;
}


/* These are my CSS styles - confirmed */

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
nav ul li a{
    font-size: 1.1rem;
    font-weight: 600;

}
/*start of footer */

.full-footer{
    background-image: linear-gradient(#CD5C5C, black);


}
.top-footer p{
    color: rgb(224, 199, 199);

}
.top-footer a{
    color: rgb(224, 199, 199);
    font-weight: 200;

}
.top-footer h4{
    color: #F2BA49;

}
.full-footer{

    bottom: 0;
    width: 100%;
    padding-top: 10px;
}




